[v-cloak]{
   display: none;
}

.home-search-bar{
	/*background-image: url('/storage/img/home/home-search-bar-bg.jpg'); */
	/*height: 500px;*/
	-webkit-background-size: 100% auto ;
	background-size: 100% auto ;
}

/**
 *  home page
 */

.mark{
   position:relative;
}
.mark sup{
   position:absolute;
   top: 10px;
   border-radius: 50%;
   width: 6px;
   height: 6px;
   background: red;
}
.am-nav li .am-badge{
   margin-top: 4px;
}

/**
 *   sell house page.
 */

#sell-house-form .am-hide-sm input{
   border:none;
   box-shadow: none;
}
#sell-house-form dl dt {
   margin-top: 12px;
}
#sell-house-form dl{
   border-bottom: 1px solid rgba(0,0,0,0.1)
}
#sell-house-form dl dd input{
   font-size: 14px;
}
#sell-house-form dl dd .am-u-md-3 input{
   background: #eee;
}

/**
 *  user page
 */

#user-side-menu-bar li:not(.am-active) a:hover{
   /*background: rgba(0,0,0,0.2);*/
}

#user-side-menu-bar li:not(.am-active) a{
   color:#0e90d2;
}

.am-offcanvas-bar:after {
    width: 0px;
}

/**
 *  user Info page.
 */
#message-sibe-nav li a,
#user-sibe-nav li a{
   padding-left: 0;
   padding-right: 0;
   font-size: 16px;
}
